In [1]:
import pandas as pd

In [2]:
## Reads in data from states A-M
yrbs_a_m = pd.read_csv('databases/states_a-m2.csv')
yrbs_a_m.head()

,sitecode,sitename,sitetype,sitetypenum,year,survyear,weight,stratum,PSU,record,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
0,AL,Alabama (AL),State,2.0,1991.0,1.0,98.1638,8.0,2.0,1.0,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Alabama (AL),State,2.0,1991.0,1.0,69.1663,15.0,2.0,2.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,Alabama (AL),State,2.0,1991.0,1.0,80.3232,15.0,1.0,3.0,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Alabama (AL),State,2.0,1991.0,1.0,66.5061,20.0,2.0,4.0,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Alabama (AL),State,2.0,1991.0,1.0,63.1244,1.0,1.0,5.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
## List of dataframes of data points sampled from each state
sample_data = []

In [4]:
## Samples 1000 data points from each state A-M
states_a_m = yrbs_a_m['sitecode'].unique()

for state in states_a_m:
    sample_data.append(yrbs_a_m[:][yrbs_a_m.sitecode == state].sample(1000))

del yrbs_a_m

In [5]:
## Reads in data from states N-Z
yrbs_n_z = pd.read_csv('databases/states_n-z2.csv')
yrbs_n_z.head()

,sitecode,sitename,sitetype,sitetypenum,year,survyear,weight,stratum,PSU,record,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
0,NE,Nebraska (NE),State,2.0,1991.0,1.0,29.3398,13.0,2.0,15007.0,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NE,Nebraska (NE),State,2.0,1991.0,1.0,24.9328,9.0,1.0,15008.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NE,Nebraska (NE),State,2.0,1991.0,1.0,28.6728,7.0,2.0,15009.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NE,Nebraska (NE),State,2.0,1991.0,1.0,38.1923,6.0,1.0,15010.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NE,Nebraska (NE),State,2.0,1991.0,1.0,20.2851,3.0,2.0,15011.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## Samples 1000 data points from each states N-Z
states_n_z = yrbs_n_z['sitecode'].unique()

for state in states_n_z:
    sample_data.append(yrbs_n_z[:][yrbs_n_z.sitecode == state].sample(1000))

del yrbs_n_z

In [7]:
## Combines all samples into one dataframe
## Drops unnecessary columns
sample_df = pd.concat(sample_data).reset_index()[['sitecode','year','age','sex','race4','race7','stheight','stweight','bmi',
                                                  'qnfr0']]
## TODO: Maybe include weight??
## TODO: Extend list of kept columns
sample_df.head()

,index,sitecode,sitename,sitetype,sitetypenum,year,survyear,weight,stratum,PSU,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
0,1239,AL,Alabama (AL),State,2.0,1991.0,1.0,117.7723,17.0,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,260862,AL,Alabama (AL),State,2.0,2011.0,11.0,124.1553,14.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,18,AL,Alabama (AL),State,2.0,1991.0,1.0,121.1215,5.0,2.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,261274,AL,Alabama (AL),State,2.0,2011.0,11.0,234.9105,6.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,75373,AL,Alabama (AL),State,2.0,1999.0,5.0,87.9339,12.0,1.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN